<!-- keep a form below with title as  -->
{% extends 'base.html' %}
{% block body %}
<div style="margin-left: 140px; width:1200px">
    <h1 class="text-center my-4"> {{title_x}} </h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="width:130px">Serial No.</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Files</th>
                    <th scope="col">Deadline</th>

                </tr>
            </thead>
            {% for x,y in d1.items %}
            <tbody>
                <tr>
                    <td>{{x}}</td>
                    <td>{{y.title_assignment}}</td>
                    <td>{{y.message_assignment}}</td>
                    <td><a href={{y.link}}  </a> {{y.file_assignment}}</td>
                    <td>{{y.deadline_assignment}}</td>
                    <td> <a href= {{y.check}} </a> CHECK_LINK </td>
                </tr>
            </tbody>

            {% endfor %}
        </table>
</div>
{% endblock body %}