{% extends 'base.html' %}
{% block body %}

<div style="margin-left: 140px; width:1200px">
    <h1 class="text-center my-4">Marks</h1>
    {% for x,y in d1.items  %}
    {% comment %} <div> {% endcomment %}
       <table class="table">
        <thead>
            <tr>
                <th scope="col" style="width:130px">Serial No.</th>
                <th scope="col">File</th>
                <th scope="col">Roll number</th>
                <th scope="col">Datetime</th>
                <th scope="col">marks</th>
                <th scope="col">Updation</th>

            </tr>
        </thead>
        <tr> 
            <td>{{x}} </td>
            <td> <a href= {{y.link}} </a> {{y.file_submitted}} </td>
            <td> {{y.roll_number}} </td>
            <td> {{y.submitted_on}} </td>
            <td> {{y.marks_reci}} </td>
            <td>  
                <form action= {{y.marking_link}} method="post"  >
                    {% csrf_token %}
                    <div class="form-group my-2" style="display:flex">
                        <input type="text" class="form-control" id="marks" name="marks" style="width:100px; margin-right:10px;">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </td>
        </tr>
       </table>
        
    </div>
    {% endfor %}
{% comment %} </div> {% endcomment %}
{% endblock body %}