<!-- variable name as:
title text field
content as text field
csrf token compulsory
method =post -->

{% extends 'base.html' %}


{% block body %}

<div>
    <table class="table">

    </table>
</div>
<div style="margin-left: 140px; width:1200px">
    <h1 class="text-center my-4">Announcement</h1>
    <form method="post" style="font-size: 20px;" action="/p/ann">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Serial No.</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Date Posted</th>
                </tr>
            </thead>
            {% for x,y in d1.items %}
            <tbody>
                <tr>
                    <td>{{x}}</td>
                    {% for z in y%}
                    <td>{{z}}</td>
                    {% endfor %}
                </tr>
            </tbody>

            {% endfor %}
        </table>
        <div class="form-group my-2">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group my-2">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
{% endblock body %}