{% extends 'base.html' %}

{% block body %}
<div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="font-weight-bold h2">CSO211</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                </div>
            {% comment %} </div> {% endcomment %}
        </div>
    <div>
        <h6 class="font-weight-bold">OVERVIEW</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, cupiditate?
            <!-- {% comment %} {% block %}
        overview
        {% endblock %} {% endcomment %} -->
        </p>
    </div>
    <!-- <div class="btn-toolbar mb-2 mb-md-0">
    </div> -->

    <div>
        <h6 class="font-weight-bold">TOPICS</h6>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci quidem laboriosam
            dicta dolor
            eveniet expedita hic iste dignissimos perspiciatis ullam!
            <!-- {% comment %} {% block %}
        overview
        {% endblock %} {% endcomment %} -->
        </p>
    </div>
</div>
{% endblock body %}
