<!-- keep a form below with title as  -->
{% extends 'base.html' %}
{% block body %}
<form action="/p/prof_assignment" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Serial No.</th>
                <th scope="col">Title</th>
            </tr>
        </thead>
        {% for x,y in d1.items %}
        <tbody>
            <tr>
                <td>{{x}}</td>
                {% comment %} {% for z in y%} {% endcomment %}
                <td>{{y}}</td>
                {% comment %} {% endfor %} {% endcomment %}
            </tr>
        </tbody>

        {% endfor %}
    </table>
    <div class="form-group mx-2 my-2">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="form-group mx-2 my-2">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
    </div>
    <div class="form-group mx-2 my-2">
        <label for="file">File input</label>
        <input type="file" class="form-control-file" id="file" name="file">
    </div>
    <div class="form-group mx-2 my-2">
        <label for="datetime">Enter deadline</label>
        <input type="datetime-local" id="deadline" name="deadline">
    </div>
    <button class="btn btn-primary my-2" type="submit">Submit</button>
</form> 
{% endblock body %}
